{% set page = 'about' %}
{% extends "layouts/main-layout.twig" %}

{% block title %}About Page{% endblock %}

{% block content %}

	<div class="section p-5 has-text-centered">
		<h2 class="title">About Page</h2>
		<p>Welcome to my website!</p>

		{% include "fragments/links.twig" %}
	</div>

{% endblock %}